* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(38, 146, 240);
}

#wrapper {
  padding-top: 10%;
}

.box {
  width: 500px;
  padding: 30px;
  margin: auto;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

.box h2 {
  text-align: center;
  font-size: 35px;
  color: rgb(214, 183, 121);
  text-shadow: 2px 1px 5px rgba(0, 0, 0, .5);
  text-transform: uppercase;
}

.box ul {
  margin-top: 10px;
  list-style: none;
}

.box li {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 5px;
  border-bottom: 1px solid wheat;
  
}

.box li:last-child {
  border: none;
}

.box span {
  padding-left: 100px;
}

/* colours */
.grey {
  color: grey;
}

.brown{
  color: brown;
}
.black{
  color: black;
}
.orange{
  color: orange;
}
.red{
  color: red;
}
.blue{
  color: blue;
}